img{
    width: 100%;
    padding-top: 2%;
}

p{
    padding-left: 4%;
}

/* h3{
    padding-top: 2%;
    padding-left: 4%;
} */

.firstL{
    padding-top: 2%;
    padding-left: 4%;

}

.secondL{
    padding-left: 2%;
}