<app-nav-bar></app-nav-bar>

<div class="agAboutUs"></div>
<div class="container marketing">
<div class="row">
        <div class="col-lg-3">
                <img class="rounded-circle" src="assets/luisalva.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Luis Alva</h2>
                <p>Senior at CSUMB. Majors in CS. Born and raised in Watsonville. Raised by immigrants who worked in the fields.</p>
      
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          <img class="rounded-circle" src="assets/francisco.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Francisco Hererra</h2>
          <p>Senior at CSUMB. Majors in CS. Born and raised in Watsonville, came from a family of migrant workers which sprouted my love for ag tech.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          <img class="rounded-circle" src="assets/matthew.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Matthew Lambert</h2>
          <p>Senior at CSUMB. Majors in CS. Born in Salinas. In the 1800's most of my ancestors were killed by the Great Potato Famine so I must avenege them.</p>

          
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          <img class="rounded-circle" src="assets/jesus.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Jesus Villarruel</h2>
          <p>Senior at CSUMB. Majors in CS.</p>

        </div><!-- /.col-lg-4 -->
</div>
</div>
