<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- ---- Include the above in your HEAD tag -------- -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<ul class="navbar-nav mr-auto">
			<li class ="nav-item">
					<a class="navbar-brand" routerLink='/profilePage'>Greenbook</a>
			</li>			
		</ul>
		<ul class="navbar-nav ml-auto">
				<li class ="nav-item">
					<a class="navbar-brand" routerLink='#'>Logout</a>
				</li>			
		</ul>
</nav>
	<div class="container-fluid main-container">
		<div class="col-md-2 sidebar">
			<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a routerLink='/profilePage'>Home</a></li>
					<li class="nav-item"><a routerLink='/employeePage'>Employees</a></li>
					<li class="active nav-item"><a routerLink='/inventoryPage'>Inventory</a></li>
					<li class="nav-item"><a routerLink='/archivesPage'>Archives</a></li>
					<li class="nav-item"><a routerLink='/settingsPageDashboard'>Settings</a></li>
			</ul>
		</div>
		<div class="col-md-10 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						Inventory
					</div>
					<div class="panel-body">
						<h1>This is Inventory</h1>
					</div>
				</div>
			</div>
	</div>