<div class = "centeringForm">
    <form>
            <div class="form-group">
                <label for="NameEmployee">Name</label>
                <input class="form-control" id="NameEmployee" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="SalaryEmployee">Salary</label>
                <input class="form-control" id="SalaryEmployee" placeholder="Salary Hourly(ex. 10.5)">
            </div>
                <button routerLink='/employeePage' type="submit" class="btn btn-primary paddingLOL">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>   
            
    </form>
</div>